---
Checks: >
  *,
  -fuchsia*,
  -google-runtime-references,
  -google-readability-todo,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -llvmlibc*,
  -readability-identifier-length,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            clemens
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             readability-identifier-naming.NamespaceCase,
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase,
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase,
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase,
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase,
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantCase,
    value:           UPPER_CASE
  - key:             readability-identifier-naming.PrivateMemberPrefix,
    value:           m_
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '0'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           lower_case
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
